{% extends 'base.html' %}
{% load static %}

{% block content %} 
<main>
    <div class="container">

        <h1>Instituto 54</h1>

        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus fugiat laudantium quisquam nam! Fuga, laudantium debitis! Velit soluta, obcaecati non delectus dolorem, voluptate accusantium voluptatem suscipit fugiat rerum fuga qui minima iste sed quam beatae itaque repellat? Odit nemo repudiandae consequuntur voluptatibus laudantium rerum culpa praesentium architecto, itaque animi molestiae.
        </p>
    </div>
</main>
{% endblock %}
