{% load static %}
<main id="body-prueba">
    <section data-aos="zoom-in" class="carousel-section">
        <div id="mainCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <!-- Slide 1 -->
                <div class="carousel-item active">
                    <img src="{% static 'img/prueba-1920.jpg' %}" class="d-block w-100" alt="Slide 1">
                    <div class="carousel-caption d-none d-md-block">
                        <h2 class="carousel-title">Bienvenido a Nuestro Instituto</h2>
                        <p class="carousel-description">Esta es una breve descripción de lo que hacemos.</p>
                    </div>
                </div>

                <!-- Slide 2 -->
                <div class="carousel-item">
                    <img src="{% static 'img/prueba-1920.jpg' %}" class="d-block w-100" alt="Slide 2">
                    <div class="carousel-caption d-none d-md-block">
                        <h2 class="carousel-title">Explora Nuestro Contenido</h2>
                        <p class="carousel-description">Descubre los productos y servicios que ofrecemos.</p>
                    </div>
                </div>

                <!-- Slide 3 -->
                <div class="carousel-item">
                    <img src="{% static 'img/prueba-1920.jpg' %}" class="d-block w-100" alt="Slide 3">
                    <div class="carousel-caption d-none d-md-block">
                        <h2 class="carousel-title">Contáctanos</h2>
                        <p class="carousel-description">Estamos aquí para ayudarte. ¡Escríbenos!</p>
                    </div>
                </div>
            </div>

            <!-- Controles del Carrusel -->
            <button class="carousel-control-prev" type="button" data-bs-target="#mainCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Anterior</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#mainCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Siguiente</span>
            </button>
        </div>
    </section>
    <div class="container my-4">
        <!-- ROW 1 -->
        <div class="row text-center mb-4">
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-3">
                <div data-aos="flip-up" class="card shadow border-primary">
                    <div class="card-body text-primary text-center">
                        <h5 class="card-title">Inscripción</h5>
                        <i class="fa-solid fa-school fa-3x mb-3" aria-hidden="true"></i>  <!-- Ícono de Font Awesome -->
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo assumenda inventore unde modi vel officiis iste suscipit corporis nisi aperiam.
                        </p>
                        <a href="#" class="btn btn-info">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-3">
                <div data-aos="flip-up" class="card shadow border-primary">
                    <div class="card-body text-primary text-center">
                        <h5 class="card-title">Plataforma Educativa</h5>
                        <i class="fa-solid fa-users fa-3x mb-3" aria-hidden="true"></i>  <!-- Ícono de Font Awesome -->
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo assumenda inventore unde modi vel officiis iste suscipit corporis nisi aperiam.
                        </p>
                        <a href="#" class="btn btn-info">Go somewhere</a>
                    </div>
                </div>
            </div>
            

            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-3">
                <div data-aos="flip-up" class="card shadow border-primary">
                    <div class="card-body text-primary text-center">
                        <h5 class="card-title">Información</h5>
                        <i class="fas fa-circle-info fa-3x mb-3" aria-hidden="true"></i>  <!-- Ícono de Font Awesome -->
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo assumenda inventore unde modi vel officiis iste suscipit corporis nisi aperiam.
                        </p>
                        <a href="#" class="btn btn-info">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- ROW 2 -->
        <div data-aos="fade-right" class="row align-items-center mb-3">
            <div class="col-sm-12 col-md-6">
                <img src="{% static 'img/banco-iset.jpg'%}" class="img-fluid" alt="Bank Building">
            </div>
            <div class="col-sm-12 col-md-6">
                <h1 class="display-3 text-center">INSTITUTO N54</h1>
                <p class="text-justify">
                    La Resolución nº 425, del Ministerio de Educación y Justicia de la Nación, del 4 de Abril de 1983, en su Artículo tercero, autorizaba a la Dirección Nacional de Educación del Adulto a efectuar el seguimiento y evaluación de los planes de estudios de las carreras del nivel terciario que funcionan en su jurisdicción.
                    En tal sentido dicha dirección estudió los resultados de la experiencia que señalaron como necesarios la carrera Técnico Superior en Análisis de Balance y Créditos y Auditoría Bancaria creando por Resolución nº 799 del 15 de Mayo de 1987 la carrera y el plan de estudios para dicha terminalidad.
                    La carrera fue creada en el ámbito nacional pero con la transferencia del sistema educativo a las provincias, pasó a depender directamente del Ministerio de Educación de la Provincia de Santa Fe, dentro del cual actualmente se encuentra.
                </p>
                <p class="text-center">
                <a href="#" class="btn btn-primary btn-lg" role="button">Aprende mas</a>
                </p>
            </div>
        </div>

        <!-- ROW 3 -->
        <div data-aos="fade-left" class="row text-center align-items-center">
            <div class="col-sm-12 col-md-6">
                <!-- Formulario de Django insertado dentro del formulario antiguo de Bootstrap -->
                <form method="POST">
                    {% csrf_token %}
                    
                    <!-- Campos del formulario de Django renderizados -->
                    <div class="mb-2">
                        {{ form.name.label_tag }} <!-- Etiqueta del campo name -->
                        {{ form.name }} <!-- Campo name -->
                    </div>
                    
                    <div class="mb-2">
                        {{ form.last_name.label_tag }} <!-- Etiqueta del campo last_name -->
                        {{ form.last_name }} <!-- Campo last_name -->
                    </div>
                    
                    <div class="mb-2">
                        {{ form.age.label_tag }} <!-- Etiqueta del campo age -->
                        {{ form.age }} <!-- Campo age -->
                    </div>
        
                    <div class="mb-2">
                        {{ form.carrer.label_tag }} <!-- Etiqueta del campo carrer -->
                        {{ form.carrer }} <!-- Campo carrer -->
                    </div>
        
                    <!-- Botón de envío del formulario -->
                    <button type="submit" class="btn btn-primary w-100">Enviar</button>
                </form>
            </div>

            <div class="col-sm-12 col-md-6">
                <img src="{% static 'img/banco-iset.jpg'%}" class="img-fluid" alt="Bank Building">
            </div>
        </div>
        
        <section data-aos="zoom-in-up" id="location" class="py-5">
            <h2 class="text-center mb-4">ENCUÉNTRANOS</h2>
            <div class="row">
                <!-- Columna del Mapa -->
                <div class="col-md-6">
                    <div class="map-container">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.993358335181!2d-60.65267898515898!3d-32.94250358092217!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b7abde71a45f71%3A0xbde0000e4ae1d4f0!2sJuan%20Manuel%20de%20Rosas%201242%2C%20S2000BTP%20Rosario%2C%20Santa%20Fe%2C%20Argentina!5e0!3m2!1ses!2s!4v1625466372464!5m2!1ses!2s" 
                        width="100%" height="350" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </div>
        
                <!-- Columna de Información de Contacto -->
                <div class="col-md-6">
                    <div class="contact-info">
                        <p><strong>Dirección:</strong> Juan Manuel de Rosas 1242, Rosario, Santa Fe, Argentina</p>
                        <p><strong>Teléfonos:</strong> (0341) 153-306093</p>
                        <p><strong>Horario de informes:</strong> 13.30 a 21HS.</p>
                    </div>
                </div>
            </div>
        </section>   
    </div>
</main>

