#body-prueba{
    background-color: lightgrey;
    font-size: 16px;
}


.text-justify1 {
    text-align: justify;
    color: blue;
}

.nav-link {
    font-weight: 600;
}

#txtComment {
    resize: none;
}



/* Card hover es para asignar opacidad a una etiqueta cuando pasamos el cursor */
.card:hover{
    opacity: 0.7;
}



.card-text {
    text-align: justify;
}

.card .card-body .icono-card {
    width: 50px;
    height: auto;
}


/* @media sirve para modificar algunos parametros establecidos, en este caso indicamos que para pantallas hasta 576px el font-size de las card se reduce. */

@media (max-width: 576px) {
    .card-text {
        font-size: 0.8rem;
    }
}


/* Estilos personalizados para el carrusel */

.carousel-section {
    width: 100%;
    margin: 0 auto;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para el texto */
    padding: 20px;
    border-radius: 8px;
}

.carousel-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
}

.carousel-description {
    font-size: 1.2rem;
    color: #fff;
}


/* estilos para section encuentranos*/

#location h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
}

.contact-info p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 10px;
}

.map-container {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-info {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


