{% load static%}
    <header>
        <div class="logo"></div>
            <img src="{% static 'img/logo_54.png' %}" alt="Logo" class="logo-img">
            <div class="logo-text">
                <h1>ISET 54</h1>
                <p>Banco de Santa Fe</p>
            </div>
        </div>
        
        <nav>
            <ul>
                <li class="dropdown">
                    <a href="#home" class="dropbtn">Institución</a>
                    <div class="dropdown-content">
                        <a href="#">Novedades</a>
                        <a href="autoridades.html">Autoridades</a>
                        <a href="docentes.html">Docentes</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#carrera" class="dropbtn">Carrera</a>
                    <div class="dropdown-content">
                        <a href="estructura_carrera.html">Estructura</a>
                        <a href="plan_estudio.html">Plan de Estudio</a>
                        <a href="materias.html">Materias</a>
                        <a href="carga_horaria.html">Carga Horaria</a>
                        <a href="correlatividades.html">Correlatividades</a>
                    </div>
                </li>
                <li><a href="#enrollment">Inscripción</a></li>
                <li class="dropdown">
                    <a href="#academic" class="dropbtn">Académico</a>
                    <div class="dropdown-content">
                        <a href="cronograma.html">Cronograma</a>
                        <a href="#home">Calendario de Exámenes</a>
                        <a href="#home">Recursos</a>                  
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#home" class="dropbtn">Recursos institucionales</a>
                    <div class="dropdown-content">
                        <a href="cursos.html">Cursos</a>
                        <a href="bolsa_trabajo.html">Bolsa de Trabajo</a>
                        <a href="cooperadora.html">Cooperadora</a>
                    </div>
                </li>
                <li><a href="#location">Encuéntranos</a></li>
            </ul>
        </nav>
    </header>